<html lang='en'>
  <head>
    {{> head}}
    <style>
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
      }
      .container {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class='container'>
      <!-- Navigation menu -->
      {{> navmenu}}

      <h1>No Videos Available</h1>
      <p>{{message}}</p>
      <a href='/' class='btn btn-primary'>Go to Homepage</a>
    </div>
  </body>
</html>